:root {
    background-color: white;
    font-family:monospace, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    height: 100%;    
}
.container-fluid {
    height: 100%;
    width: 100%;
}

.dados {
    font-size: 24px;
    color: #d40054;
    font-weight: bold;
}


h3 {
    font-size: 18px;
    text-align: left;
}
.login {
    padding: 10px;
    margin-top: auto;
    width: 100%;
}

.logo-afya {
    text-align: right;
    padding: 10px;
}

.texto {
    padding: 10px;
    background-color: #d40054;
    border-top-right-radius: 50px;
    color: white;
}
#InputNome {
    display: flex;
    justify-content: center;
    width: 60%;
    text-align: center;
}
#InputTipo {
    display: flex;
    width: fit-content;
}

#InputComplemento {
    display: flex;
    width: 38%;
}

.form-control {
    box-shadow: 3px 3px 5px #dddd;
}

.button{
    background-color: black;
    border: none; 
    border-radius: 10px;
    width: 50rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.button:hover {
    background-color:#d40054;
    color: white;
}

fieldset.grupo .form-group {
    float:  left;
    margin-right: 0.5em;
}